/* line 13, ../sass/roger.scss */
.gallery {
  display: block;
  height: 250px;
  overflow: hidden;
  transition: all 0.6s ease-out;
  border: solid 4px rgba(255, 255, 255, 0.8);
  opacity: 0.45;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 0 0;
}
/* line 22, ../sass/roger.scss */
.gallery:hover {
  -webkit-box-shadow: 0 1px 8px rgba(180, 0, 50, 0.45);
  box-shadow: 0 1px 8px rgba(180, 0, 50, 0.45);
  height: 750px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 1;
}
/* line 30, ../sass/roger.scss */
.gallery h1 {
  background: rgba(150, 20, 70, 0.7);
  color: white;
  text-shadow: 3px 3px 2px black;
  padding: 10px 5%;
  position: absolute;
  margin-top: 20px;
  -webkit-box-shadow: inset 5px 5px 0px 0px rgba(0, 0, 0, 0.3), 5px 5px 0px 0px rgba(50, 0, 25, 0.3), 10px 10px 0px 0px rgba(255, 205, 205, 0.3);
  box-shadow: inset 5px 5px 0px 0px rgba(0, 0, 0, 0.3), 5px 5px 0px 0px rgba(50, 0, 25, 0.3), 10px 10px 0px 0px rgba(255, 205, 205, 0.3);
}
/* line 39, ../sass/roger.scss */
.gallery img {
  z-index: -1;
}

/* line 42, ../sass/roger.scss */
.contain-to-grid {
  z-index: 200;
}

@media all and (max-width: 768px) and (min-width: 480px) {
  /* line 47, ../sass/roger.scss */
  .gallery {
    height: 150px;
  }
  /* line 49, ../sass/roger.scss */
  .gallery:hover {
    height: 555px;
  }
  /* line 52, ../sass/roger.scss */
  .gallery h1 {
    font-size: 160%;
  }
}
@media all and (max-width: 480px) {
  /* line 59, ../sass/roger.scss */
  .gallery {
    height: 180px;
  }
  /* line 61, ../sass/roger.scss */
  .gallery:hover {
    height: 300px;
  }
  /* line 64, ../sass/roger.scss */
  .gallery h1 {
    font-size: 120%;
  }
}
