@mixin shadow($shadow...){
	-webkit-box-shadow: $shadow;
					box-shadow: $shadow;
}

@mixin transition($transition...){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}


.gallery{
    display: block;
	height: 250px;
	overflow: hidden;
	transition: all 0.6s ease-out;
	border: solid 4px rgba(255,255,255,0.8);
	opacity: 0.45;
	@include transition(all 0.6s ease-out);
	@include shadow(0 1px 4px rgba(0, 0, 0, 0.3));
	&:hover{
		@include shadow(0 1px 8px rgba(180, 0, 50, 0.45));
		height: 750px;
		cursor: pointer;
		border-radius: 20px;
		opacity: 1;
	}
	border-radius: 15px 15px 0 0;
	h1{
		background: rgba(150, 20, 70, 0.7);
		color: white;
		text-shadow: 3px 3px 2px rgb(0, 0, 0);
		padding: 10px 5%; 
		position: absolute;
		margin-top: 20px;
		@include shadow(inset 5px 5px 0px 0px rgba(0, 0, 0, 0.3),5px 5px 0px 0px rgba(50, 0, 25, 0.3),10px 10px 0px 0px rgba(255, 205, 205, 0.3));
	}
		img{z-index: -1}
}

.contain-to-grid{
	z-index: 200;
}

@media all and (max-width: 768px) and (min-width: 480px) {
  .gallery{
  	height: 150px;
  	&:hover{
  		height: 555px;
  	}
  	h1{
  		font-size: 160%;
	}
  }
}

@media all and (max-width: 480px) {
  .gallery{
  	height: 180px;
  	&:hover{
  		height: 300px;
  	}
  	h1{
  		font-size: 120%;
	}
  }
}